{# templates/professional/create-account.html.twig #}
{% extends 'app-base.html.twig' %}

{% block title %}Criação de Conta{% endblock %}
{% block content %}
    <form id="register-form">
        <div class="card card--material">
            <div class="card__title card--material__title">Dados Pessoais</div>
            <div class="card__content card--material__content">
                <input name="name" modifier="material" placeholder="Nome" type="text" required />
                <input name="email" modifier="material" placeholder="E-mail" type="email" required />
                <input type="hidden" name="password" value="123" />
                <input name="telephone" modifier="material" placeholder="Telefone" type="tel" required />
            </div>
        </div>
        <div class="card card--material">
            <div class="card__title card--material__title">Tipo de programador</div>
            <div class="card__content card--material__content">
                <ul>
                    <li>
                        <label class="left">
                            <input type="radio" name="dev_type" value="backend" id="radio-dev-type-backend" />
                        </label>
                        <label for="radio-dev-type-backend" class="center">
                            Backend
                        </label>
                    </li>
                    <li>
                        <label class="left">
                            <input type="radio" name="dev_type" value="frontend" id="radio-dev-type-frontend" />
                        </label>
                        <label for="radio-dev-type-frontend" class="center">
                            Frontend
                        </label>
                    </li>
                    <li>
                        <label class="left">
                            <input type="radio" name="dev_type" value="fullstack" id="radio-dev-type-fullstack" />
                        </label>
                        <label for="radio-dev-type-fullstack" class="center">
                            Fullstack
                        </label>
                    </li>
                </ul>
            </div>
        </div>
  
        <div class="card card--material">
            <div class="card__title card--material__title">Conhecimentos</div>
            <div class="card__content card--material__content">
                <ul>
                    {% for skill in skills %}
                        <li>
                            <label for="checkbox-skill-{{skill.id}}">{{ skill.title }}</label>
                            <input id="checkbox-skill-{{skill.id}}" type="checkbox" name="skills[]" value="/api/skills/{{skill.id }}" />
                        </li>
                    {% endfor %}
                </ul>
            </div>
        </div>

        <div class="buttons-wrapper">
            <button type="button" modifier="large" id="save-button">Registrar</button>
        </div>
    </form>

    <script type="text/javascript">

        function getFormValues(form) {
            let formValues = {};

            form.serializeArray().map(function(field) {
                let isArray = field.name.endsWith('[]');
                let fieldName = field.name.replace('[]', '');

                if (isArray) {
                    if (!formValues[fieldName]) {
                        formValues[fieldName] = [];
                    }

                    formValues[fieldName].push(field.value);
                } else {
                    formValues[fieldName] = field.value;
                }
            });

            return formValues;
        }

        function submitForm(formValues) {
            $.ajax({
                url: '{{ absolute_url("api/professionals") }}',
                method: 'POST',
                contentType : 'application/json',
                data: JSON.stringify(formValues),
                success: (function(response) {
                    console.debug(response);
                }).bind(this),
            });
        }

        let form = $('#register-form');
        let saveButton = $('#save-button');

        saveButton.on('click', function() {
            submitForm(getFormValues(form));
        });
    </script>
{% endblock %}
